# Cache e tipi autogenerati di Astro
.astro/

# Codice autogenerato da TinaCMS
.tina/__generated__/
tina/__generated__/

# Dipendenze e build
node_modules/
dist/

# File di ambiente
.env
.env.*
!.env.example

# Ignora il lockfile di npm
package-lock.json